/**
Admin CSS
Used for styling the admin UI but not the subcomponenets
*/
/* @import url("../../../node_modules/jqueryui/jquery-ui.min.css"); */

body
{
	/*font-size: 62.5%;*/
	background: #fff;
	color: #444;
	font-family: "Open Sans", sans-serif;
	margin:0;
	padding: 0;
	border:0;
	/*overflow: hidden;*/
	height: 100%;
	max-height: 100%;
}

table
{
	border-width: 0px;
	border-spacing: 0px;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
	margin-left:auto;
	margin-right:auto;
	width:85%;
	max-width: 720px;
	padding:5px;
}

th
{
	border-width: 1px;
	padding: 5px;
	border-style: inset;
	border-color: black;
	background-color:#FFC;
}

td
{
	border-width: 1px;
	padding: 15px;
	border-style: inset;
	border-color: black;
}

.adminHeader
{
	/*height:24px;*/
	overflow: hidden;
	background: #222222;
	color: #FFF;
	/*padding-top:2px;
	padding-bottom: 2px;*/
}

.adminHeader .serverIP
{
	text-align: center;
	padding:0;
	margin-top: -22px;
	letter-spacing: 2px;
}

.adminHeader img
{
	vertical-align: middle;
	padding-right: 5px;
}

.adminMenu
{
	/*position: absolute;
	top: 28px;
	bottom: 0; 
	left: 0;*/
	/*width: 200px;*/ /*Width of frame div*/
	overflow-y: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
	overflow-x: hidden;
	background: #222222;
	color: white;
	/* http://stackoverflow.com/questions/7668636/check-with-jquery-if-div-has-overflowing-elements */
}

.adminMenu ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.adminMenu li
{
	margin: 2px 0 0;
	/*font-size: 1.4rem;*/
}

.adminMenu a
{
	display: block;
	width:200px;
	padding: 5px;
	border: 1px solid #222222;
	background-color: #222222;
	color:#FFF;
	text-decoration: none; /*lets remove the link underlines*/
}

.adminMenu a:hover 
{
	border: 1px solid #000000;
	background: #0f72a8;
	color: #ffffff;
}

.adminMenu img
{
	vertical-align: middle;
	padding-right:5px;
}

.adminContent
{
	/*position: fixed;
	top: 28px; 
	left: 200px; Set left value to WidthOfFrameDiv
	right: 0;
	bottom: 0;*/
	overflow:  auto;
	background: #EEEEEE;
	color: #000;
	padding:15px;
}

#divAjaxMessages::before 
{
	content: "Server Response: ";
	visibility: hidden;
}

#divImportAjaxMessages
{
	/*visibility: hidden;*/
	margin-top:20px;
	padding: 5px;
	width:45%;
	margin-left:auto;
	margin-right:auto;
}

.divAdmin {
	border-width: 1px;
	border-style: solid;
	border-color: gray;
	background-color: white;
	margin-left:auto;
	margin-right:auto;
	padding: 10px 15px 10px 15px;
	/*width: 75%;
	max-width: 720px;
	
	margin-top: 10px;
	-webkit-box-sizing: border-box;  Safari/Chrome, other WebKit 
	-moz-box-sizing: border-box;    /* Firefox, other Gecko 
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.top-buffer { margin-top: 15px; }

.bottom-buffer { margin-bottom: 15px; }

/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}